/* VARIABLES */
$responsive-mobile: 480px;
$responsive-tablet: 768px;
$responsive-laptop: 992px;
$responsive-desktop: 1200px;
$container-width: 1170px;
$white-btn: #fff;
$brown-btn: #b69460;
$black-btn: #2c2c2c;